body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  /* background-image: url("./1_yQeeD9gkMLIkykEyNyPOWA.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.grid {
  background-color: white;
  display: flex;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}
/* .col {
  border: 1px solid grey;
} */
.reset {
}
.select {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
